<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- errType %> Bulunamadı.</title>
</head>
<body>

    <h1 id="s404">
        404
    </h1>
    <style>
        .center {
            display: flex; /* Konteyneri esnek bir kutu olarak ayarlar */
            justify-content: center; /* İçeriği yatayda ortalar */
            align-items: center; /* İçeriği dikeyde ortalar */
            flex-direction: column;
            height: 100vh; /* Tam ekran yüksekliği ayarlar */
        }

        .s404 {
            font-size: 12em;
        }
    </style>
</body>
</html>